body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
.main{
    background-image: url("../vegetable-images/brian-mcgowan-w46WZBxI_uk-unsplash.jpg");
    height: 30vh;
    background-size: cover;
    text-align: center;
    color: white;  

}
#heada{
    text-align: center;
}
h3{
    padding-top: 60px;
}
h2{
    color:rgb(17, 143, 17);
}
.wrapper{
    width: 705px;
    padding: 20px;
}
h1{
    display: inline-block;
    background-color: rgb(17, 143, 17);
    color:white;
    font-size: 25px;
    font-weight: normal;
    padding: 4px 20px;
    border-radius: 100px;
}
.clear{
    clear: both;
}
.veggies{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.veggies{
    float: left;
    margin:0 10px 10px 0;
    width: 285px;
    padding: 10px;
}
.veggies img{
    display: block;
    margin: auto;
    width: 100%;
    height: 200px;
}
.store-item-icon{
    border: 1px solid rgb(17, 143, 17);
    border-radius: 100px;
    padding: 4px 14px;
    background-color: rgb(17, 143, 17);
    color: white;
    flex: right;
    margin: 5px 0;
}
.store-item-icon:focus{
    outline: none !important;
}
.partners img{
    width: 120px;
    height: 80px;
}
.partners{
    margin-top: 1%;
    text-align: center;
}
.footer{
    padding: 1%;
}
.foot{
    border-left: solid rgb(10, 10, 10) 1px;
}
.store-item-icon{
    display: none;
}